{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~components": "./src/app/components",
        "~screen": "./src/app/screen",
        "~redux": "./src/redux",
        "~square": "./src/app/screen/Game/components/Square",
        "~board": "./src/app/screen/Game/components/Board"
      }
    }]
  ]
}
