{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@components": "./src/app/components",
        "@screen": "./src/app/screen",
        "@redux": "./src/redux",
        "@game":"./src/app/screens/Game/",
        "@services": "./src/services",
        "@config": "./src/config",
        "@utils": "./src/utils/",
        "@constans": "./src/constans",
        "@validations": "./src/validations"
      }
    }]
  ]
}
