.footer-bar {
  align-items: center;
  background: $blue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-top: 50px;

  .footer-text {
    color: $white;
    font-size: $text-big;
    margin: 10px;
    text-transform: uppercase;
  }

  .logo-w {
    margin: 10px;
  }

  .copy {
    align-self: flex-end;
    color: $white;
    letter-spacing: 1px;
  }
}
