.nav-bar {
  align-items: center;
  background: $white;
  box-shadow: 0 0 7px $grey;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  padding: 10px 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .logo-w {
    height: $nav-logo-height;
  }

  .menu {
    display: none;
    font-size: $text-big;
  }
}

@media (min-width: 1024px) {
  .nav-bar .menu {
    display: block;
  }
}
