.section {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 125px;

  .tech {
    background-color: $green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: center;
    margin: 15px 15px;
    max-width: 220px;
    position: relative;
    text-align: center;

    &::before {
      border: 1px solid $green;
      border-radius: 5px;
      content: '';
      height: 100%;
      position: absolute;
      transform: translate(-10px,-10px);
      transition: transform 0.3s;
      width: 100%;
      z-index: -1;
    }

    &:hover::before {
      transform: translate(10px,10px);
    }

    %text {
      margin: 5px auto;
      padding: 0 5px;
      width: 100%;
    }

    .logo {
      margin: 5px auto;
      max-height: 100px;
      width: $tech-logo-size;
    }

    .title-card {
      @extend %text;
      font-size: $text-medium;
    }

    .age {
      @extend %text;
      font-size: $text-medium;
      font-weight: bold;
    }

    .story {
      @extend %text;
      font-size: $text-medium;
    }
  }
}
