.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'bigitem . .' 'bigitem . .';
  justify-content: center;
  margin: 30px;
  text-align: center;

  .tech {
    height: 320px;
    padding: 5px;
    width: 220px;

    &:first-child {
      border-right: 2px solid $green;
      grid-area: bigitem;
      height: 100%;
      padding: 160px 5px;
    }

    .logo {
      margin: 5px auto;
      max-height: 100px;
      width: $tech-logo-size;
    }

    .title-card {
      font-size: $text-medium;
    }

    .age {
      font-size: $text-medium;
      font-weight: bold;
    }

    .text {
      margin: 5px auto;
      padding: 0 5px;
      width: 100%;
    }

    .story {
      font-size: $text-medium;
    }
  }


  @media (max-width: 1024px) {
    grid-auto-columns: 1fr;
    grid-template-areas: inherit;
    justify-items: center;

    .tech {
      border-bottom: 2px solid $green;
      margin: 5px;
      padding: 5px;

      &:first-child {
        border-bottom: 2px solid $green;
        border-right: none;
        grid-area: inherit;
        height: 320px;
        margin: 5px;
        padding: 5px;
      }

      &:last-child {
        border: none;
      }
    }
  }
}
