.title {
  color: black;
  display: flex;
  font-size: $text-big;
  justify-content: center;
  margin: 140px 50px 0;

  &::before {
    content: url(assets/triangle.svg);
    height: 90px;
    left: 18px;
    position: relative;
    top: -35px;
    width: 70px;
    z-index: -10;
  }
}

@media (min-width: 1024px) {
  .title {
    justify-content: normal;
  }
}
