@import 'variables/colors';

.square {
  background: $white;
  border: 1px solid $grey;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  margin: 2px;
  padding: 0;
  text-align: center;
  transition: 0.35s ease-in-out;
  width: 34px;

  &:focus {
    outline-color: $grey;
    outline-style: double;
  }

  &:hover {
    opacity: 0.5;
  }
}

.kbd-navigation .square:focus {
  background: #DDD;
}
